
body{
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-family:'Lucida Sans Unicode';
    font-size: 40px;

}
h2 {
    color: black;
    font-family: 'Lucida Sans Unicode';
    font-size: 20px;
    text-align: center;
    font-weight: normal
}
h4{
  text-align:center;
}

p {
  font-family:'Lucida Sans Unicode';
  text-align: center;
  color: #424242
}


ul {
  color: black;
  font-family:'Lucida Sans Unicode';
  text-align: center;
}

#Leeds{
  padding-left:40px;
  padding-right: 40px
}

#button{
  background-color: #d85539;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius:8px;
  color: #fff;
  font: 2.4em sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  border:none;
  margin: auto;
}


#para {
  float:left;
  width: 50%;
  height: 435px;
  padding: 40px;
}
#paraintro {
  float:left;
  width: 50%;
  height: 470px;
  padding: 40px;
}
#imgright {
  float:right;
  width: 50%;
  height: 470px;
  padding-right: 33px;
  padding-left: 75px;
  padding-top: 40px;
  padding-bottom: 37px;
}
#heading {
  font-weight:bolder;
  font-size: 17px;
  color: black
}
#special{
  color:white;
}

#pm{
  font-family:'Lucida Sans Unicode';
  text-align:left;
  color:  #424242;
}
