
body,h3{
    background-color: white;
}

h1 {
    color: black;
    text-align: center;
    font-family:'Lucida Sans Unicode';
    font-size: 40px;

}
h2 {
    color: black;
    font-family: 'Lucida Sans Unicode';
    text-align: center;
    font-size: 27px;
}

p {
  color: black;
  font-family:'Lucida Sans Unicode';
  text-align: center;
}

ul {
  color: black;
  font-family:'Lucida Sans Unicode';
  text-align: center;
}
