h1 {
    text-align: center;
}

#dropbox1 {
   text-align: center;
   font-size: 25px;
}

#dropbox2 {
   text-align: center;
   font-size: 25px;
}
#dropbox3 {
   text-align: center;
   font-size: 25px;
}

/*button{
	text-align: center;
	margin: 350px;s
}*/

#labelrow1{
	text-align: center;
}

label{
	display: block;
	margin: 70px;
}

select{
	margin: 40px;
}

textarea {
	width: 10px;
}

/*input[type=submit] {
	text-align: center;
    background:#cc6600; 
    color : #fff;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 200%;
}*/

input[type=submit]{
    background-color: #813322;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius:8px;
    color: #fff;
    font: 2.4em Futura, ‘Century Gothic’, AppleGothic, sans-serif;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
    border:none;
    margin: auto;
}



/*a{
	margin: 350px;
}*/
