h1 {
  text-align: center;
}

table {
color: #333; /* Lighten up font color */
font-family: Helvetica, Arial, sans-serif; /* Nicer font */
border-collapse:
collapse; border-spacing: 0;
margin: auto;
}


td, th { border: 1px solid #CCC; height: 30px;text-align:center } /* Make cells a bit taller */

th {
background: #F3F3F3; /* Light grey background */
font-weight: bold; /* Make sure they're bold */
padding: 12px
}

td {
background: #FAFAFA; /* Lighter grey background */
text-align: center; /* Center our text */
padding: 7px
}

.vGood {
    background-color: #b35900;
}

.good {
    background-color: #ff8000;
}

.avg {
    background-color: #ffa64d;
}

.poor {
    background-color: #ffcc99;
}

.vPoor {
    background-color: #fff2e6;
}
