h1 {
    text-align: center;
}

#dropbox1 {
   text-align: center;
   font-size: 25px;
}

#dropbox2 {
   text-align: center;
   font-size: 25px;
}

/*button{
	text-align: center;
	margin: 350px;s
}*/

#labelrow1{
	text-align: center;
}

label{
	display: block;
	margin: 100px;
}

select{
	margin: 50px;
}

textarea {
	width: 600px;
}

/*a{
	margin: 350px;
}*/
