<!DOCTYPE html>
<html lang="en">

<html>
    <head>
        <meta charset="utf-8"/>

        <title>{{vars.title}}</title>

        <link rel="stylesheet" href="templates/stylesheets/base.css" type="text/css">

        <!-- Bootstrap Core CSS -->
    	<link rel="stylesheet" href="templates/css/bootstrap.min.css" type="text/css">

        {% block customCSS %}{% endblock %}

    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        {% block customJS %}{% endblock %}

    </head>


    <body>

        {% block navbar %}
        <!--navigation bar-->
	    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
		    <div class="container-fluid">
		        <div class="navbar-header">
		        	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                	</button>
		            <a class="navbar-brand page-scroll" href="/">Drive Safe</a>
		        </div>
		        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="/">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/dataset">Data</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/pivot_table_builder">Pivot Table</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/findings">Findings</a>
                    </li>
                </ul>
            </div>
		    </div>
	   	</nav>
        {% endblock %}

        <div id="wrapper">
            <div id="header">
                {% block header %}{% endblock %}
            </div>

            <div id="content">
                {% block content %}{% endblock %}
            </div>

            <div id="footer">
                <p>Quoc Lieu, Jennifer Fong, Shishan Fu <br>
                Phase 3 - Foundations of Informatics INFO20002</p>
            </div>
        </div>



    </body>
</html>
