
            {% extends "base.html" %}

            {% block content %}
            <form method="post" action="pivot_table">

            <!--Filter-->
              <p>Filter Category:
                <select name="Filter Category">
        <option value='No Filter'>No Filter</option><option value='Number of Vehicles'>Number of Vehicles</option><option value='Number of Casualties'>Number of Casualties</option><option value='Time (24hr)'>Time (24hr)</option><option value='Age of Casualty'>Age of Casualty</option><option value='Accident Date'>Accident Date</option><option value='Road Surface'>Road Surface</option><option value='Lighting Conditions'>Lighting Conditions</option><option value='Weather Conditions'>Weather Conditions</option><option value='Casualty Class'>Casualty Class</option><option value='Casualty Severity'>Casualty Severity</option><option value='Sex of Casualty'>Sex of Casualty</option><option value='Type of Vehicle'>Type of Vehicle</option><option value='Time (Intervals)'>Time (Intervals)</option><option value='Date (Intervals)'>Date (Intervals)</option><option value='Age (Intervals)'>Age (Intervals)</option>
                </select>
              </p>
              <p>Filter Method:
                <select name="Filter Method">
                  <option value="=">equal to</option>
                  <option value="<">not equal to</option>
                  <option value=">">greater than</option>
                  <option value=">=">equal to or greater than</option>
                  <option value="<">less than</option>
                  <option value="<=">equal to or less than</option>
                </select>
              </p>
              <p>Filter Value:
                <textarea name="Filter Value"></textarea>
              </p>

            <!--Row-->
            <p>Row:
                <select name="Row">
        <option value='Accident Date'>Accident Date</option><option value='Road Surface'>Road Surface</option><option value='Lighting Conditions'>Lighting Conditions</option><option value='Weather Conditions'>Weather Conditions</option><option value='Casualty Class'>Casualty Class</option><option value='Casualty Severity'>Casualty Severity</option><option value='Sex of Casualty'>Sex of Casualty</option><option value='Type of Vehicle'>Type of Vehicle</option><option value='Time (Intervals)'>Time (Intervals)</option><option value='Date (Intervals)'>Date (Intervals)</option><option value='Age (Intervals)'>Age (Intervals)</option>
                </select>
              </p>
            <!--Column-->
            <p>Column:
                <select name="Column">
        <option value='Accident Date'>Accident Date</option><option value='Road Surface'>Road Surface</option><option value='Lighting Conditions'>Lighting Conditions</option><option value='Weather Conditions'>Weather Conditions</option><option value='Casualty Class'>Casualty Class</option><option value='Casualty Severity'>Casualty Severity</option><option value='Sex of Casualty'>Sex of Casualty</option><option value='Type of Vehicle'>Type of Vehicle</option><option value='Time (Intervals)'>Time (Intervals)</option><option value='Date (Intervals)'>Date (Intervals)</option><option value='Age (Intervals)'>Age (Intervals)</option>
                </select>
              </p>
            <!--Values-->
            <p>Values:
                <select name="Values">
        <option value='Number of Vehicles'>Number of Vehicles</option><option value='Number of Casualties'>Number of Casualties</option><option value='Time (24hr)'>Time (24hr)</option><option value='Age of Casualty'>Age of Casualty</option>
                </select>
              </p>
            <!--Aggregation-->
            <p>Aggregation Method:
                <select name="agg">
                  <option value="sum">Sum</option>
                  <option value="median">Median</option>
                  <option value="maximum">Maximum</option>
                  <option value="minimum">Minimum</option>
                  <option value="mean">Mean</option>
                </select>
              </p>
              <p>
                <input type="submit" />
              </p>
            </form>
            {% endblock %}
        