
			{% extends "base.html" %}

			{% block customCSS %}
			<link rel="stylesheet" href="templates/css/pivot_table_builder.css" type="text/css">
 			<link rel="stylesheet" href="templates/stylesheets/dataset.css" type="text/css">
 			<link rel="stylesheet" href="templates/css/bootstrap-table.min.css" type="text/css">
 			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">            

 			<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
 			<!-- Latest compiled and minified JavaScript -->
 			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
 			<!-- Latest compiled and minified JavaScript -->
 			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.8.1/bootstrap-table.min.js"></script>
			{% endblock %}

			{% block content %}
			<p id = "table"></p>
			<h3>Pivot Table</h3>
	 			<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Casualty Severity</th>
      <th>Fatal</th>
      <th>Serious</th>
      <th>Slight</th>
    </tr>
    <tr>
      <th>Lighting Conditions</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Darkness: no street lighting</th>
      <td>2</td>
      <td>17</td>
      <td>73</td>
    </tr>
    <tr>
      <th>Darkness: street lighting unknown</th>
      <td>6</td>
      <td>119</td>
      <td>1119</td>
    </tr>
    <tr>
      <th>Darkness: street lights present and lit</th>
      <td>10</td>
      <td>78</td>
      <td>823</td>
    </tr>
    <tr>
      <th>Darkness: street lights present but unlit</th>
      <td>NaN</td>
      <td>1</td>
      <td>24</td>
    </tr>
    <tr>
      <th>Daylight: street lights present</th>
      <td>8</td>
      <td>241</td>
      <td>2731</td>
    </tr>
  </tbody>
</table>
			{% endblock %}
		